/*-- scss:defaults --*/
$navbar-bg: #20374C;


$hr-border:  white;

$page-header-border-color:   white;

// a {
//     color: #00ccff; /* You can use any shade of blue you prefer, e.g., #0000FF */
// }

// /* Optionally: Change the color of hyperlinks on hover */
// a:hover {
//     color: darkblue; /* Adjust the color for hover state if desired */
// }
